<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">家賃リサーチ</a>
    <% if user_signed_in? %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <%= current_user.nickname %>
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= current_user.id %>">マイページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/edit">編集</a>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path,class:"nav-link" , method: :delete %>
          </li>
        </ul>
      </div>
    <% else %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        ログイン
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ログイン", login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", sign_up_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
