<%= render partial: "share/navbar" %>

<header class="masthead" style="background-image: url('../images/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading updown">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container form">
  <div class="square">
    <h2>ログイン</h2>

    <%= form_with( model: User, url: user_session_path, local: true )do |f|%>
      <%= f.hidden_field :email, value: "user-test@test.com" %>
      <%= f.hidden_field :password, value: "password" %>
      <%= f.submit "テストユーザーでログイン", class: "btn btn-danger" %>
    <% end %><br/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :Eメール %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :Eメールを保存 %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "ログイン", class: 'btn btn-primary' %>
        <input type="button" id="return" value="もどる" onclick="history.back()", class="btn btn-primary">
      </div>

      <div class="form-group">
        <%= link_to "サインアップ画面へ", sign_up_path, class: "btn btn-info" %>
      </div>

    <% end %>

  </div>
</div>