<h2>ログイン</h2>

<br/><div class="test user">
【テストユーザー】<br/>
メールアドレス:test-user@example.com<br/>
パスワード:aiueo123
</div><br/>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Eメールを保存 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p><input type="button" id="return" value="もどる" onclick="history.back()"></p>

<%= render "users/shared/links" %>
