<%= form_with model: renthouse do |f| %>

  <div class="field">
    <%= "建物名" %>
    <span class="container-span">必須</span><br>
    <%= f.text_field :building_name, autofocus: true, autocomplete: "building_name" %>
  </div>

  <div class="field">
    <%= "家賃" %>
    <span class="container-span">必須</span><br>
    <%= f.number_field :rent, autofocus: true, autocomplete: "rent" %>円
  </div>

  <div class="field">
    <%= "都道府県" %>
    <span class="container-span">必須</span><br>
    <%= f.collection_select( :prefecture_id, Prefecture.where(id: 13), :id, :pref_name, {:prompt => "-----"}, id: "pref_select" ) %>
  </div>

  <div class="field city">
    <%= "市区町村" %>
    <span class="container-span">必須</span><br>
    <%= f.select :city_id, [["-----", "0"]], {}, {id: "city_select" } %>
  </div>

  <div class="field">
    <%= "沿線" %>
    <span class="container-span">必須</span><br>
    <%= f.select :line_name, [["-----", "0"]] %>
  </div>

  <div class="field">
    <%= "駅" %>
    <span class="container-span">必須</span><br>
    <%= f.select :station_name, [["-----", "0"]] %>
  </div><br/>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>

<% end %>

