<hr>
<div class="post-preview">
  <div class="preview write">
    <h3 class="post-title">
      <%= link_to renthouse.building_name, renthouse %>
      （最寄駅：<%= renthouse.station_name + "駅" %>）
    </h3>

    <div class="like-subtitle">
      <div class="post-subtitle post">
        <p>家賃：<%= converting_to_jpy(renthouse.rent) %></p>
      </div>
      <div id="renthouse-<%= renthouse.id%>" data-renthouse-id="<%= renthouse.id %>" class="post">
        <%=  render "likes/like", renthouse: renthouse %>
      </div>
      <div class="post">
        <%=  render "share/impression", renthouse: renthouse %>
      </div>
    </div>

    <p class="post-meta">
      Posted by
      <%= link_to renthouse.user.nickname, user_path(renthouse.user_id) %> on
      <%= renthouse.created_at.strftime('%B %d , %Y') %></p>

    <%= link_to "詳細", renthouse, class: "btn btn-outline-primary" %>
    <% if user_signed_in? && current_user.id == renthouse.user_id %>
      <%= link_to '編集', edit_rent_house_path(renthouse), class: "btn btn-outline-info" %>
      <button data-modal="delete-item" data-open="modal" class="btn btn-outline-danger">削除</button>
        <%= render "rent_houses/confirmation_modal", renthouse: renthouse %>
    <% end %>
  </div>
  <div class="preview photo">
  </div>
</div>