<td><%= renthouses.building_name %></td>
<td><%= converting_to_jpy(renthouses.rent) %></td>
<td><%= renthouses.prefecture.pref_name %></td>
<td><%= renthouses.city.city_name %></td>
<!--         <td><%= renthouses.line_name %></td> -->
<td><%= renthouses.station_name + "駅" %></td>
<td><%= link_to "　詳細", renthouses %></td>

