<div class="post-preview">
  <%= link_to renthouses do %>
    <h3 class="post-title">
      <%= renthouses.building_name %>
      <%= converting_to_jpy(renthouses.rent) %>
    </h3>
  <% end %>
  <h4 class="post-subtitle">
    <%= renthouses.station_name + "駅" %>
  </h4>
  <p class="post-meta">Posted by
    <%= link_to renthouses.user.nickname, user_path(renthouses.user_id) %> on
    <%= renthouses.created_at.strftime('%B %d,%Y') %></p>
  <%= link_to "詳細", renthouses, class: "btn btn-outline-primary" %>
  <% if user_signed_in? && current_user.id == renthouses.user_id %>
    <%= link_to '編集', edit_rent_house_path(renthouses), class: "btn btn-outline-info" %>
    <button data-modal="delete-item" data-open="modal" class="btn btn-outline-danger">削除</button>
      <%= render "rent_houses/confirmation_modal", renthouse: renthouses %>
  <% end %>
</div>
<hr>
