<%= render partial: "share/navbar" %>

<header class="masthead" style="background-image: url('../images/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading updown">
          <h2>みんなの家賃を投稿しよう！</h2>
          <%= link_to '登録', new_rent_house_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
  </div>
  <%# <div class="container-nav">tabbar設置予定</div> %>
</header>

<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="content col-md-9 mx-auto">
        <div class="pagination-centar">
          <%= paginate @renthouses %>
        </div>
        <% @renthouses.each do |renthouse| %>
          <%= render partial: "rent_houses/renthouses", locals: { renthouse: renthouse } %>
        <% end %>
        <div class="pagination-centar">
          <%= paginate @renthouses %>
        </div>
      </div>
      <div class="sidebar col-md-3 mx-auto rank">
        <div class="side-rent-rank">
          <h5>閲覧ランキング</h5>
          <%= render partial: "rent_houses/rentrank", locals: { most_viewed: @most_viewed } %>
        </div>
      </div>
    <% else %>
      <div class="content col-md-9 mx-auto">
        <% @renthouses.first(4).each do |renthouse| %>
          <%= render partial: "rent_houses/renthouses", locals: { renthouse: renthouse } %>
        <% end %>
        <hr>
      </div>
      <div class="sidebar col-md-3 mx-auto rank">
        <div class="side-rent-rank">
          <h5>閲覧ランキング</h5>
          <%= render partial: "rent_houses/rentrank", locals: { most_viewed: @most_viewed } %>
        </div>
      </div>
      <div class="mx-auto">
        <p align='center'>さらに物件情報を見たい場合は<%= link_to "ログイン", login_path %>してください</p>
      </div>
    <% end %>
  </div>
</div>
