<%= render partial: "share/navbar" %>

<header class="masthead" style="background-image: url('../images/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading updown">
          <%# <h2><%= @renthouse.building_name %></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="content col-md-9 mx-auto">
      <h3 class="post-title"><%= @renthouse.building_name %></h3><br/>
      <div>家賃：<%= converting_to_jpy(@renthouse.rent) %></div>

      <% if user_signed_in? && current_user.id == @renthouse.user_id %>
        <%= link_to '編集', edit_rent_house_path(@renthouse), class: "btn btn-outline-info btn-xs" %>
        <button data-modal="delete-item" data-open="modal" class="btn btn-outline-danger btn-xs">削除</button>
        <%= render "confirmation_modal", renthouse: @renthouse %>
      <% end %>
      <br/><br/>

      <div class="renthouse-table">
        <table class="view-table">
          <tbody class="view-table-tbody">
            <tr class="view-table-tr">
              <th class="view-table-title">登録者</th>
              <td class="view-table-body" colspan="3"><%= link_to @user.nickname, "/users/#{@user.id}" %></td>
              <th class="view-table-title">性別</th>
              <td class="view-table-body"><%= @gender.gender %></td>
            </tr>
            <tr class="view-table-tr">
              <th class="view-table-title">都道府県</th>
              <td class="view-table-body"><%= @renthouse.prefecture.pref_name %></td>
              <th class="view-table-title">市区町村</th>
              <td class="view-table-body"><%= @renthouse.city.city_name %></td>
              <th class="view-table-title">最寄駅</th>
              <td class="view-table-body"><%= @renthouse.station_name + "駅" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>

      <% if user_signed_in? %>

        <%= form_with( url: rent_house_comments_path(rent_house_id: @renthouse.id), id: "renthouse_comment") do%>
          <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="textbox"></textarea><br/>
          <input type="submit" value="コメント" class="form__submit">
        <% end %>
        <br/>
        <div class="comments">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <div>
                <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                <%= comment.text %>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <button data-modal="delete-comment" data-open="modal-comment" class="far fa-trash-alt"></button></td>
                  <%= render "comments/confirmation_comment_modal", comment: comment %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

      <% else %>
        <p>コメントが見たい場合は<%= link_to "ログイン", login_path %>してください</p>
      <% end %>

    </div>

    <div class="sidebar col-md-3 mx-auto rank">
      <div class="side-rent-rank">
        <h5>閲覧ランキング</h5>
        <%= render partial: "rent_houses/rentrank", locals: { most_viewed: @most_viewed } %>
      </div>
    </div>

  </div>
</div>

