<%= render partial: "share/navbar" %>
<h1><%= @user.nickname + "さんのプロフィール" %></h1>
<br>
<%= link_to '物件一覧', root_path %><br/>
<%= link_to '物件登録', new_rent_house_path(@renthouse) %>
<br><br>
<table>
  <thead>
    <tr><%= "メールアドレス：　" + @user.email  %></tr><br>
    <tr><%= "性別：　" + @gender.gender  %></tr>
  </thead>
</table><br>

<h2>投稿一覧</h2>
  <table>
    <thead>
      <tr>
        <th>建物名</th>
        <th>家賃</th>
        <th>都道府県</th>
        <th>市区町村</th>
<!--           <th>路線</th> -->
        <th>最寄駅</th>
      </tr>
    </thead>
    <tbody>
      <% if user_signed_in? && current_user.id == @user.id %>
      <% @renthouses.each do |renthouses| %>
        <tr>
            <td><%= renthouses.building_name %></td>
            <td><%= converting_to_jpy(renthouses.rent) %></td>
            <td><%= renthouses.prefecture.pref_name %></td>
            <td><%= renthouses.city.city_name %></td>
            <td><%= renthouses.station_name + "駅" %></td>
            <td><%= link_to "　詳細", renthouses %></td>

            <td><%= link_to '　編集', edit_rent_house_path(renthouses) %></td>
            <td><button data-modal="delete-item" data-open="modal" >　削除</button></td>
              <%= render "rent_houses/confirmation_modal", renthouse: renthouses %>

        </tr>
      <% end %>

     <% else %>

      <% @renthouses.each do |renthouses| %>
        <tr>
          <td><%= renthouses.building_name %></td>
          <td><%= converting_to_jpy(renthouses.rent) %></td>
          <td><%= renthouses.prefecture.pref_name %></td>
          <td><%= renthouses.city.city_name %></td>
          <td><%= renthouses.station_name + "駅" %></td>
          <td><%= link_to "　詳細", renthouses %></td>
        </tr>
      <% end %>

      <% end %>

    </tbody>
  </table>


