<%= render partial: "share/navbar" %>

<header class="masthead" style="background-image: url('../images/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading updown">
          <h2><%= @user.nickname + "さん" %><br/><%= "プロフィール" %></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container" >
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <table>
        <thead>
          <tr><%= "ニックネーム：" + @user.nickname  %></tr><br>
          <tr><%= "性別：" + @gender.gender  %></tr>
        </thead>
      </table>
    </div>
  </div>

    <div class="row nav">
      <ul class="nav nav-tabs">
        <li class="nav-item show">
        <div class="nav-link">投稿一覧</div>
        </li>
        <li class="nav-item">
          <div class="nav-link">お気に入り一覧</div>
        </li>
      </ul>
    </div>

    <div class="row tab">
      <div class="tab-content">
        <div class="tab-pane active" id="renthouses-list">
          <table class="table">
            <thead>
              <tr>
                <th>建物名</th>
                <th>家賃</th>
                <th>都道府県</th>
                <th>市区町村</th>
                <th>最寄駅</th>
              </tr>
            </thead>
            <tbody>
              <% if user_signed_in? && current_user.id == @user.id %>
                <% @renthouses.each do |renthouse| %>
                  <tr>
                    <td><%= link_to renthouse.building_name, renthouse %></td>
                    <td><%= converting_to_jpy(renthouse.rent) %></td>
                    <td><%= renthouse.prefecture.pref_name %></td>
                    <td><%= renthouse.city.city_name %></td>
                    <td><%= renthouse.station_name + "駅" %></td>
                    <td><%= link_to "詳細", renthouse, class: "btn btn-outline-primary" %></td>

                    <td><%= link_to '編集', edit_rent_house_path(renthouse), class: "btn btn-outline-info" %></td>
                    <td><button data-modal="delete-item" data-open="modal" class="btn btn-outline-danger">削除</button></td>
                      <%= render "rent_houses/confirmation_modal", renthouse: renthouse %>
                  </tr>
                <% end %>
              <% else %>
                <% @renthouses.each do |renthouse| %>
                  <tr>
                    <td><%= link_to renthouse.building_name, renthouse %></td>
                    <td><%= converting_to_jpy(renthouse.rent) %></td>
                    <td><%= renthouse.prefecture.pref_name %></td>
                    <td><%= renthouse.city.city_name %></td>
                    <td><%= renthouse.station_name + "駅" %></td>
                    <td><%= link_to "詳細", renthouse, class: "btn btn-outline-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="renthouses-list">
          <table class="table">
            <thead>
              <tr>
                <th>建物名</th>
                <th>家賃</th>
                <th>都道府県</th>
                <th>市区町村</th>
                <th>最寄駅</th>
              </tr>
            </thead>
            <tbody>
              <% @like_rentHouses.each do |renthouse| %>
                <tr>
                  <td><%= link_to renthouse.building_name, renthouse %></td>
                  <td><%= converting_to_jpy(renthouse.rent) %></td>
                  <td><%= renthouse.prefecture.pref_name %></td>
                  <td><%= renthouse.city.city_name %></td>
                  <td><%= renthouse.station_name + "駅" %></td>
                  <td><%= link_to "詳細", renthouse, class: "btn btn-outline-primary" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>



  </div>
</div>
